body{
    background-image: url("https://i.pinimg.com/originals/41/9e/97/419e974e5b946cc9854be1d8d3ec8513.gif");
    background-size: cover;
    text-align: center;
    margin: 20%;
}
h1{
color: chartreuse;
}
form{
    padding: 10px;
    background-color: rgb(100, 95, 234);
    width: 200px;
    margin-left: 260px;
    font-weight: bold;
}
#number{
    background-color: rgb(95, 160, 124);
}
button{
    margin-left:5px ;
    background-color: chartreuse;
    border-radius: 20%;
}
button:hover{
    transform: scale(1.3);
}